/* Normal: */
body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans",Helvetica,sans-serif;
    font-size: 100%;
#    background: #3a3535;
	background: #0E1717;
}
div#headBar {
#    background: #384792;
    background: #68228B;
    top: 0;
    height: 60px;
    color: #fafbff;
    margin: 2px;
}
.navLinks {
    text-align: right;
    display: inline-block;
}
.navlink {
    display: inline-block;
    padding-left: 50px;
}
.navlink:hover {
    font-weight:800;
}
img.logoImg {
    height: 50px;
    padding: 5px;
    vertical-align: top;
}
.logo {
    display:inline-block;
}
.contentBox {
#    background: #fafbff;
	background: #000000;
    margin-top: 1em;
    border: 1px solid black;
}
.boxContent {
    padding: 15px;
}
.boxHeader {
    color: white;
#    background-color: #384792;
#    background-color: #144eb2;
    background-color: #20b2aa;
    padding: 10px;
}
div#content {
    margin: 1em 2em 2em 2em;
	color: #00FF00;
	max-width: 960px;
}
.irc {
    text-align:left;
    color:red;
    font-weight:700;
}
a:link {
    color: #ffff00;
}
a:visited {
    color: #ffff00;
}
.centered {
    text-align: center;
}
#menu ul
{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
#menu li
{
    list-style: none;
    float: left;
    margin-right: 0.5em;
}
#menu a
{
    display: block;
    width: 8em;
    color: white;
    background-color: #000099;
    text-decoration: none;
    text-align: center;
	border: 1px solid black;
}
#menu a:hover
{
    background-color: #6666AA;
}